:root {
    --warm-palette-1 : #973d73;
    --warm-palette-2 : #a64861;
    --warm-palette-3 : #c3655d;
    --warm-palette-4 : #ce6d5a;
    --warm-palette-5 : #d28c5c;

    --bw-palette-1 : #d8d8d8;
    --bw-palette-2 : #7f7f7f;

    --cool-palette-1 : #134f5c;
    --cool-palette-2 : #45818e;
    --cool-palette-3 : #8c9d85;
    --cool-palette-4 : #92b7bf;

    --warm-palette-1-opaque: #973d73;
    --warm-palette-5-opaque : #d28c5c;
}
#title {
    background:
            linear-gradient(
                    to bottom,
                    transparent,
                    lightgray
            ),
            linear-gradient(
                to right,
                var(--warm-palette-1-opaque),
                var(--warm-palette-5-opaque)
            );
    font-family: Poppins;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 65px;
    font-weight: bold;
}

.main-subtitle {
    color: lightgray;
    font-size: 40px;
}

.icon-row {
    width: 70%;
    margin-left: 15%;
}

.icon-elem {
    display: block;
}

